body {
    font-family: 'Roboto Slab', serif;
    color: #3e3e3e;
}

p {
    font-family: 'Droid Serif', sans-serif;
    font-size: 0.85rem;
    margin-bottom: 30px;
    line-height: 24px;
}

h3 {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

/*NAV STYLE */
nav.navbar {
      padding: 30px;
}

/* MAIN HEADER STYLE */
#main-header {
    height: 80vh;
    width: 100%;
    z-index: -1;
    top: 0;
    background-image:linear-gradient(to bottom, rgba(155, 155, 155, 0.9), rgba(155, 155, 155, 0.5)), url(../img/header/apple-devices-artificial-flowers-business-196658.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e3e3e;
}
#main-header .header-caption h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}
#main-header .header-caption h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
}
#main-header .header-caption .read-more {
    font-family: 'Montserrat', sans-serif;
    background-color: #1EA896;
    color: #3e3e3e;
    font-size: 0.9rem;
}

#main-header .header-caption .read-more:hover {
    -moz-box-shadow:0 0 10px 2px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0  0 10px 2px rgba(182, 182, 182, 0.75);
    box-shadow: 0 0 10px 2px rgba(182, 182, 182, 0.75);
    background-color: #f3f3f3;
}

/*SECTION SERVICES STYLE*/

section {
    padding: 50px;
}
section .section-header {
    text-align: center;
    margin: 100px 0 50px 0;
   width: 100%;
}
section .section-title {
    font-family: 'Montserrat', sans-serif;
    color: #3e3e3e;
    margin-bottom: 20px;
}
#services .fa {
    height: 80px;
    width: 80px;
    font-size: 2em;
    background-color: #1EA896;
    line-height: 80px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #1EA896;
    transition: transform 0.4s linear;
}
#services .fa:hover {
    background-color: #fff;
    color: #1EA896;
    transform: rotate(360deg);
}
.selector-for-some-widget {
    box-sizing: content-box;
}